.box-container{
    padding: 40px; 
    border-radius: 4px;
    background-color: #ffffff;
    width: calc(100% - 24px);
    box-sizing: border-box;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
        width: 456px;
    }
}