.display-flex{
    display: flex;
}
.align-center{
    align-items: center;
    display: flex;
}
.justify-center{
    justify-content: center;
    display: flex;
}
.flex-column{
    flex-direction: column;
    display: flex;
}
.flex-align-justify-center{
    justify-content: center;
    align-items: center;
    display: flex;
}