.text-link{
    color: #7269ef;
    cursor: pointer;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 22.5px;
    line-height: 22.5px;
    text-decoration: none;
}